*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}